.logo{
  text-align: center;
  margin-bottom: 15px;
}

.logo img{
  width: 125px;
  height: auto;
}

.navbar{
  border-top: 3px solid #663333;
  border-bottom: 3px solid #663333;
  text-align: center;
  margin-bottom: 0;
  border-radius: 0px;
}

.navbar-header > button{
  background-color: #663333;
  float: none;
}

.navbar-header > button > span{
  background-color: #FFF;
}

header .navbar ul > li > a{
  font-family: courier, serif;
  color: #663333;
}

header .menu > li > a{
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
}

header .menu > li > a:focus{
  background-color: #cc9966;
}

header .menu > li > a:hover{
  background-color: #cc9966;
}

header .navbar .navbar-nav{
  display: inline-block;
  float: none;
}

header .navbar .submenu{
  display: none;
  -webkit-column-count: 5;
  -webkit-column-gap: 50px;
  -moz-column-count: 5;
  -moz-column-gap: 50px;
  column-count: 5;
  column-gap: 50px;
  list-style: none;
  padding: 10px 0;
}

header .navbar .submenu > li > a{
  font-weight: normal;
  font-size: 1.75rem;
  font-variant: normal;
}

header .navbar .submenu > li > a:hover{
  text-decoration: none;
  font-weight: bold;
}

@media (min-width: 768px) {
header .navbar .container-fluid{
    position: relative;
  }

header .navbar .menu > li{
    position: static;
  }

header .navbar .submenu{
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    background-image: url('../images/background.jpg');
    border-top: 3px solid #663333;
    border-bottom: 3px solid #663333;
    z-index: 500;
    padding: 20px 100px;
  }
}

@media (max-width: 768px) {
header .navbar .submenu{
    -webkit-column-count: 3;
    -webkit-column-gap: 50px;
    -moz-column-count: 3;
    -moz-column-gap: 50px;
    column-count: 3;
    column-gap: 50px;
  }
}

@media (max-width: 480px) {
header .navbar .submenu{
    -webkit-column-count: 1;
    -webkit-column-gap: 50px;
    -moz-column-count: 1;
    -moz-column-gap: 50px;
    column-count: 1;
    column-gap: 50px;
  }
}
